<div class="align-center">
  <div class="registration-page" >

    <div class="section">
      <h1>Registration</h1>
    </div>

    <div class="section">
      <app-game-name-input (deleteGameClicked)="deleteSpecificGame()" [games]="games" [optionName]="currentGameName"></app-game-name-input>
    </div>

    <div *ngIf="currentGameName">
      <div class="section">
        <app-registration-form [form]="registerPlayerForm" (formSubmitted)="onSubmit()"></app-registration-form>
      </div>

      <div class="section">
      <app-available-players [players]="allPlayers" (PlayerDeleted)="deleteNewPlayer($event)"></app-available-players>
      </div>
    </div>

    <a
      [class.disabled]="!(playersService._gameName | async) ? true : null"
      class="action-btn"
      matTooltip="save your modified data and continue to select players"
      mat-raised-button
      color="primary"
      (click)="savePlayers()"
      [routerLink]="['/select-players']">
      save and continue
    </a>

    <button (click)="deleteAllGamesData()" mat-stroked-button color="warn">delete all saved data</button>
  </div>
</div>


