<div class="align-center">
  <div class="registration-page" >

    <div class="section">
    <h1>Registration</h1>
    </div>

    <div class="section">
    <app-game-name-input [games]="games" [optionName]="currentGameName"></app-game-name-input>
    </div>

    <h3>Register players for '{{playersService._gameName | async | uppercase}}'</h3>

    <div class="section">
    <app-registration-form *ngIf="currentGameName" [form]="registerPlayerForm" (formSubmitted)="onSubmit()"></app-registration-form>
    </div>

    <app-available-players *ngIf="currentGameName" [players]="allPlayers" (PlayerDeleted)="deleteNewPlayer($event)"></app-available-players>

    <a
      class="next-page-btn"
      matTooltip="save your modified data and continue to select players"
      mat-raised-button
      color="primary"
      (click)="savePlayers()"
      [routerLink]="['/select-players']">
      save and continue
    </a>

    <button (click)="deleteAllGamesData()" mat-stroked-button color="warn">delete all saved data</button>

  </div>
</div>


