<div class="align-center">
  <div>
    <div *ngIf="!isSetRatingMode">
      <h1>Choose players</h1>
      <div *ngFor="let player of optionalPlayers; index as i;">
        <button (click)="addPlayerToChosen(i)" mat-stroked-button color="accent">{{player.name}}</button>
      </div>

      <h3 class="section">Participants</h3>
      <div *ngFor="let player of chosenPlayers; index as i;">
        <button (click)="backPlayerToOptionalList(i)" mat-stroked-button color="primary">{{player.name}}</button>
      </div>
    </div>

    <div *ngIf="isSetRatingMode">
      <app-set-rating [notParticipantsPlayers]="notParticipantsPlayers" [chosenPlayersArray]="chosenPlayers"></app-set-rating>
    </div>
    <button class="toggle-mode-btn" mat-raised-button color="primary" (click)="toggleRatingMode()">{{linkName}}</button>
  </div>
</div>
