<h1>set points for the participants players</h1>
<div *ngFor="let user of chosenPlayersArray; index as i;">
  <div class="player">
  <span>wins: {{user.wins}}</span>
  <div class="rating">
    <mat-icon (click)="addRating(i, true)" >add_circle_outline</mat-icon>
    <mat-icon (click)="subtractRating(i, true)">remove_circle</mat-icon>
  </div>
    <div class="player-name-and-draw">
       <div class="player-name">{{user.name}}</div>
      <div>draws: {{user.draws}}</div>
      <mat-icon (click)="addDraw(i)" class="draw-icon">thumbs_up_down</mat-icon>
    </div>
    <div class="rating">
    <mat-icon (click)="addRating(i, false)" >add_circle_outline</mat-icon>
    <mat-icon (click)="subtractRating(i, false)">remove_circle</mat-icon>
  </div>
  <span>loses: {{user.loses.toFixed(0)}}</span>
  </div>
</div>

<div class="action-btn">
<button (click)="onSave()" mat-stroked-button>save</button>
<button (click)="onDelete()" mat-stroked-button color="warn">delete all saved data for {{playersService._gameName | async}}</button>
</div>
