<mat-drawer-container class="left-side-navigator-container">
  <mat-drawer #drawer class="left-side-navigator" mode="side" [opened]="menuModeService._isOpen |async">
    <div class="navigation-link">
    <a mat-button [routerLink]="['register-players']" (click)="changeMenuMode(false)"> register players</a>
    </div>
    <div class="navigation-link">
      <a mat-button [routerLink]="['select-players']" (click)="changeMenuMode(false)">select players</a>
    </div>
    <div class="navigation-link">
      <a mat-button [routerLink]="['view-insights']" (click)="changeMenuMode(false)"> view insight</a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button (click)="toggleMenu()">
      <mat-icon *ngIf="menuModeService._isOpen |async">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="!(menuModeService._isOpen |async)">keyboard_arrow_right</mat-icon>
      Toggle menu
    </button>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
