
<!--<div class="menu">-->
<!--<mat-toolbar color="primary">-->
<!--  <mat-toolbar-row>-->
<!--    <a [routerLink]="['register-players']"> register players</a>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <a [routerLink]="['select-players']">select players</a>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <a [routerLink]="['view-insights']"> view insight</a>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
<!--</div>-->
<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>
<app-left-side-navigator></app-left-side-navigator>
