<div class="align-center">
  <div>
<h1>Register players</h1>
<form [formGroup]="registerPlayerForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name">
  <button class="submit-btn" mat-stroked-button color="primary" type="submit" [disabled]="!registerPlayerForm.valid">submit</button>
</form>
<p></p>

<h3>Available players:</h3>
<div *ngFor="let player of allPlayers; index as i">
  <div class="new-registered-player">
    <span>{{player.name}}</span>
  <span>
      <mat-icon class="delete-icon" (click)="deleteNewPlayer(i)" aria-hidden="false" aria-label="delete player icon">delete</mat-icon>
  </span>
  </div>
</div>
<a
  class="next-page-btn"
  matTooltip="save your modified data and continue to select players"
  mat-raised-button
  color="primary"
  (click)="savePlayers()"
  [routerLink]="['/select-players']">
  save and continue
</a>
</div>
</div>
