<h3>create new game or choose from the list</h3>
<div class="items-in-row">
<form (submit)="setGameName(newName)" ngForm>
  <div class="items-in-row">
    <input class="new-game-input" name="newGame" required [(ngModel)]="newName" type="text">
    <button type="submit">create</button>
  </div>
</form>

  <div>
    <select class="select-game-options" (ngModelChange)="loadGameName($event)" [(ngModel)]="optionName">
      <option [value]="gameName" *ngFor="let gameName of games">{{gameName}}</option>
    </select>

    <button *ngIf="gameName | async"
            (click)="deleteSpecificGame()"
            class="space-left"
            mat-stroked-button
            color="warn">
      delete {{gameName | async}}
    </button>
  </div>


</div>
