@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */
.align-center {
  display: flex;
  justify-content: center;
}
.snackbar-success-dialog {
  color: white !important;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}

mat-icon {
  cursor: pointer;
}

.dialog-header {
  border-bottom: 1px solid black;
}

.section {
  margin-top: 1rem;
}

.items-in-row {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .registration-page {
    margin-left: 0.7rem;
  }
}
